<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="parametre"></ion-back-button>
    </ion-buttons>
    <ion-title>Réglages des profils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="ion-margin ion-text-center">Changement des profils utilisateur.</h1>
    <ion-list>
      <ion-item *ngFor="let user of users">
        <ion-avatar slot="start" *ngIf="user.photo">
          <img [src]="user.photo" />
        </ion-avatar>
        <ion-label>
          <p>{{ user.prenom }} {{ user.nom }}</p>
          <p>({{ user.statut == 'admin' ? 'Administrateur' : 'Employé' }})</p>
        </ion-label>
        <ion-label>
          <ion-button (click)="changeUserStatus(user)" slot="end" fill="outline" shape="round" color="danger">
            changer
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
