<ion-header>
  <ion-toolbar>
    <ion-title>
      Plats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let p of plats" [routerLink]="['modifier/'+p.id]">
      <ion-label> {{ p.nom }} </ion-label>
      <ion-label> <strong>{{ p.prix }} fcfa</strong> </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['ajouter']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
